<p style="font-size:large;margin-bottom: 0in; line-height: 100%; font-size:large; page-break-before: always">
<font face="Myriad Pro">Wednesday <b>23 July</b></font>
</p>
<table width="100%" cellpadding="0" cellspacing="0">
	<col width="120*">
	<col width="360*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>motivation</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">8:30 am–9:30 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Accelerated</b> Materials Research</font></p>
			<p style="font-size:large;"><a href="http://appliedresearch.illinois.edu/about/staff-profiles/research-staff/santanu-chaudhuri">Santanu Chaudhuri</a><br>
			<i>Applied Research Institute</i> <br>
			<i>University of Illinois</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">9:30 am–10:30 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">ICME &amp; <b>Industry</b></font></p>
			<p style="font-size:large;"><a href="http://www.questek.com/staff-bios-detail.html?Bio=Sebastian">Jason Sebastian</a><br>
			<i>QuesTek</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">10:45 am–11:45 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Materials Project</b> &amp; Materials Genome Initiative</font></p>
			<p style="font-size:large;"><a href="http://www.jacobsschool.ucsd.edu/faculty/faculty_bios/findprofile.sfe?department=NANO&fmp_recid=358">Shyue Ping Ong</a><br>
			<i>Nanoengineering</i> <br>
            <i>University of California at San Diego</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-23-ong.pdf">(Slides)</a> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">11:45 am–1:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;"><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
			<p style="font-size:large;"><br>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>computational methods</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">1:00 pm–2:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Knowledgebase</b> of Interatomic Models</font></p>
			<p style="font-size:large;"><a href="http://www.aem.umn.edu/~elliott/research/research.shtml">Ryan Elliott</a><br>
			<i>Aerospace Engineering &amp; Mechanics</i> <br>
            <i>University of Minnesota</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-23-elliott.pdf">(Slides)</a> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">2:15 pm–4:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Molecular Dynamics with <b>LAMMPS</b></font></p>
			<p style="font-size:large;"><a href="http://ferguson.matse.illinois.edu/">Andrew Ferguson</a><br>
			<i>Materials Science &amp; Engineering</i> <br>
            <i>University of Illinois</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-23-ferguson.pdf">(Slides)</a> <a href="http://ferguson.matse.illinois.edu/download/Al.zip">(Scripts)</a> <br>
			</p>
		</td>
	</tr>
</table>
<p style="font-size:large;margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font face="Myriad Pro">Thursday <b>24 July</b></font></p>
<table width="100%" cellpadding="0" cellspacing="0">
	<col width="59*">
	<col width="197*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>computational
			methods (continued)</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">8:30 am–9:30 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Introduction to <b>Quantum Monte Carlo</b></font></p>
			<p style="font-size:large;"><a href="http://physics.illinois.edu/people/profile.asp?ceperley">David Ceperley</a><br>
			<i>Physics</i> <br>
			<i>University of Illinois</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-24-ceperley.pdf">(Slides)</a> <br>
            </p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">9:30 am–10:45 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Quantum Monte Carlo with <b>QWalk</b></font></p>
			<p style="font-size:large;"><a href="http://publish.illinois.edu/lkwagner/">Lucas Wagner</a><br>
			<i>Physics</i> <br>
			<i>University of Illinois</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-24-wagner.pdf">(Slides)</a> <a href="https://s3-eu-west-1.amazonaws.com/cseicme/qwalk_icme.tgz">(Scripts)</a> <br>
            For the scripts, please also install the Python modules <code>MatPlotLib</code> and <code>python-tk</code>.
            </p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">11:00 am–12:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">QMC <b>Applications</b></font></p>
			<p style="font-size:large;"><a href="http://ertekin.mechse.illinois.edu/">Elif Ertekin</a><br>
			<i>Mechanical Science &amp; Engineering</i> <br>
            <i>University of Illinois</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-24-ertekin.pdf">(Slides)</a> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">12:00 pm–1:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;"><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
			<p style="font-size:large;"><br>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>characterization &amp; analysis</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">1:00 pm–1:45 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>ICME</b></font></p>
			<p style="font-size:large;"><a href="http://www.matse.illinois.edu/faculty/Wilson.html">Bill Wilson</a><br>
			<i>Frederick Seitz Materials Research Laboratory</i> <br>
			<i>Materials Science &amp; Engineering</i> <br>
			<i>University of Illinois</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">1:45 pm–2:45 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Mesoscale</b> Computational Materials Science:  What is it, why should I care, and how do I do it?</font></p>
			<p style="font-size:large;"><a href="http://www.msd.anl.gov/heinonen">Olle Heinonen</a><br>
			<i>Materials Science Division</i> <br>
			<i>Argonne National Laboratory</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">3:00 pm–4:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Nanomaterial <b>Fabrication &amp; Characterization</b></font></p>
			<p style="font-size:large;"><a href="http://nam.mechse.illinois.edu/">SungWoo Nam</a><br>
			<i>Mechanical Science &amp; Engineering</i> <br>
			<i>University of Illinois</i> <br>
			<a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-24-nam.pdf">(Slides)</a> <br>
            </p>
		</td>
	</tr>
</table>
<p style="font-size:large;margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font face="Myriad Pro">Friday <b>25 July</b></font></p>
<table width="100%" cellpadding="0" cellspacing="0">
	<col width="59*">
	<col width="197*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>characterization &amp; analysis (continued)</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">8:30 am–9:30 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Ab Initio</b> Computation for <b>Materials Characterization</b></font></p>
			<p style="font-size:large;"><a href="http://nano.anl.gov/docs/people/chan.pdf">Maria Chan</a><br>
			<i>Center for Nanoscale Materials</i> <br>
			<i>Argonne National Laboratory</i> <br>
            <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-25-chan.pptx">(Slides)</a> <br>
            </p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">9:30 am–10:30 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Visualization with <b>VMD</b></font></p>
			<p style="font-size:large;"><a href="http://www.ks.uiuc.edu/~johns/">John Stone</a><br>
			<i>Theoretical & Computational Biophysics Group</i> <br>
			<i>Materials Science &amp; Engineering</i> <br>
            <i>University of Illinois</i> <br>
            <a href="https://uofi.box.com/icme-su14">(LAMMPS data)</a> <a href="https://s3-eu-west-1.amazonaws.com/cseicme/07-25-stone.pdf">(Slides)</a> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">10:45 am–11:45 am</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Diffraction Simulations using LAMMPS and SEAGrid Science Gateway</font></p>
			<p style="font-size:large;"><a href="http://www.ncsa.illinois.edu/assets/php/contact.php?id=spamidig">Sudhakar Pamidighantam</a><br>
			<i>National Center for Supercomputing Applications</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">11:45 am–12:45 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Enriched FEM</b> for Heterogeneous Materials</font></p>
			<p style="font-size:large;"><a href="http://people.ae.illinois.edu/geubelle/site/Home.html">Philippe Geubelle</a><br>
			<i>Aerospace Engineering</i> <br>
			<i>University of Illinois</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">12:45 pm–1:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro"><b>Closing</b> Remarks</font></p>
			<p style="font-size:large;"><a href="http://cse.illinois.edu/training">Neal Davis</a><br>
			<i>Computational Science &amp; Engineering</i> <br>
			<i>University of Illinois</i> <br>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">1:00 pm–2:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;"><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
			<p style="font-size:large;"><br>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
			<p style="font-size:large;font-variant: small-caps"><font face="Myriad Pro"><b>multiphysics</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="23%" style="border: none; padding: 0in">
			<p style="font-size:large;"><span style="font-weight: normal"><span style="font-variant: small-caps">2:00 pm–5:00 pm</span></span></p>
		</td>
		<td width="77%" style="border: none; padding: 0in">
			<p style="font-size:large;margin-bottom: 0in"><font face="Myriad Pro">Materials Design with <b>COMSOL Multiphysics</b> (Public Session)</font></p>
			<p style="font-size:large;">Temesgen Kindo<br>
			COMSOL, Inc. <br>
			</p>
		</td>
	</tr>
</table>
