<p style="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font face="Myriad Pro"><span style="font-weight: normal">Wednesday
</span><b>23 July</b></font></p>
<table width="100%" cellpadding="0" cellspacing="0">
    <col width="59*">
    <col width="197*">
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>motivation</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>8:30 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">9</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-weight: normal">Prefatory
            Remarks &amp;</span></font></p>
            <p><font face="Myriad Pro"><span style="font-weight: normal">   </span></font><font face="Myriad Pro"><b>Research
            Opportunities</b></font></p>
            <p>Neal Davis, Training Coordinator</p>
            <p>Farzaneh Masoud, Research<font size="1" style="font-size: 8pt">
            </font>Coordinator</p>
            <p><i>Com</i><font face="Linux Libertine O"><i>putational Science
            &amp; Eng</i></font><font face="Linux Libertine O"><i>ineering</i></font></p>
            <p><font face="Linux Libertine O"><i>University of Illinois</i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>9:00 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">10</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><b>A</b></font><font face="Myriad Pro"><b>ccelerated
            </b></font><font face="Myriad Pro"><span style="font-weight: normal">Materials
            Research</span></font></p>
            <p>Santanu Chaudhuri</p>
            <p><i>Applied Research Institute</i></p>
            <p><font face="Myriad Pro"><i><font face="Linux Libertine O">University
            of Illinois</font></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>10:15 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">11</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">45</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><b>Materials
            Project</b></font><font face="Myriad Pro"><span style="font-weight: normal">
            &amp; Materials Genome</span></font></p>
            <p>Shyue Ping Ong, Professor</p>
            <p><i>Nanoengineering</i></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><i>University
            of California at San Diego</i></font></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>11:45 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">12</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">45</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>computational
            methods</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>12:45 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">2</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">15</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><b>CALPHAD</b></font><font face="Myriad Pro"><span style="font-weight: normal">
            for Phase Diagrams</span></font></p>
            <p>Carolyn Campbell</p>
            <p><i>National Institute of Standards &amp; </i>
            </p>
            <p><i>  Technology</i></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>2:30 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">4</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><span style="font-variant: normal"><font face="Myriad Pro"><span style="font-weight: normal">Molecular
            Dynamics </span></font></span><span style="font-variant: normal"><font face="Myriad Pro"><span style="font-weight: normal">with
            </span></font></span><span style="font-variant: normal"><font face="Myriad Pro"><b>LAMMPS</b></font></span></p>
            <p>Andrew Ferguson</p>
            <p><i>Materials Science &amp; Engineering</i></p>
            <p><i>University of Illinois</i></p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font face="Myriad Pro"><span style="font-weight: normal">Thursday </span><b>24
July</b></font></p>
<table width="100%" cellpadding="0" cellspacing="0">
    <col width="59*">
    <col width="197*">
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>computational
            methods (continued)</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>8:30 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">9</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">3</span></font><font face="Linux Libertine O"><span style="font-weight: normal">0</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-weight: normal">Introduction
            to </span></font><b><font face="Myriad Pro">Q</font><font face="Myriad Pro">uantum
            Monte Carlo</font></b></p>
            <p>David Ceperley, Professor</p>
            <p><i>Physics</i></p>
            <p><font face="Myriad Pro"><i><font face="Linux Libertine O">University
            of Illinois</font></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>9:30 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">11</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-weight: normal">Quantum
            Monte Carlo with </span></font><font face="Myriad Pro"><b>QWalk</b></font></p>
            <p>Lucas Wagner</p>
            <p><i>Physics</i></p>
            <p><font face="Linux Libertine O"><i><span style="font-weight: normal">University
            of Illinois</span></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>11:15 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">12</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">3</span></font><font face="Linux Libertine O"><span style="font-weight: normal">0</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><span style="font-variant: normal"><font face="Myriad Pro"><span style="font-weight: normal">QMC
            </span></font></span><span style="font-variant: normal"><font face="Myriad Pro"><b>Applications</b></font></span></p>
            <p>Elif Ertekin</p>
            <p><i>Mechanical Science &amp; Engineering</i></p>
            <p><font face="Linux Libertine O"><i><span style="font-weight: normal">University
            of Illinois</span></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>12:30 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">1</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">3</span></font><font face="Linux Libertine O"><span style="font-weight: normal">0</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>1:30 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">2</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">45</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><span style="font-variant: normal"><font face="Myriad Pro"><b>Knowledgebase</b></font></span><span style="font-variant: normal"><font face="Myriad Pro"><span style="font-weight: normal">
            of Interatomic Models</span></font></span></p>
            <p>Ellad Tadmor, Professor</p>
            <p><i>Aerospace Engineering &amp; Mechanics</i></p>
            <p><i>University of Minnesota</i></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>characterization</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>3:00 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">4</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">p</span></font></span><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">m</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">Interfacing
            </span></span></font><font face="Myriad Pro"><span style="font-style: normal"><b>Ab
            Initio</b></span></font><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">
            Computation</span></span></font></p>
            <p><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">  </span></span></font><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">with
            </span></span></font><font face="Myriad Pro"><span style="font-style: normal"><b>Materials
            Characterization</b></span></font></p>
            <p>Maria Chan</p>
            <p><i>Center for Nanoscale Materials</i></p>
            <p><font face="Linux Libertine O"><i>Argonne National Laboratory</i></font></p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font face="Myriad Pro"><span style="font-weight: normal">Friday </span><b>25
July</b></font></p>
<table width="100%" cellpadding="0" cellspacing="0">
    <col width="59*">
    <col width="197*">
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>characterization
            (continued)</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>8:30 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">9</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">3</span></font><font face="Linux Libertine O"><span style="font-weight: normal">0</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">Nanomaterial</span></span></font><font face="Myriad Pro"><span style="font-style: normal"><b>
            </b></span></font><font face="Myriad Pro"><span style="font-style: normal"><b>Fabrication
            &amp;</b></span></font></p>
            <p><font face="Myriad Pro"><span style="font-style: normal"><span style="font-weight: normal">  </span></span></font><font face="Myriad Pro"><span style="font-style: normal"><b>Characterization</b></span></font></p>
            <p>SungWoo Nam</p>
            <p><i>Mechanical Science &amp; </i><i>Engineering</i></p>
            <p><font face="Linux Libertine O"><i><span style="font-weight: normal">University
            of Illinois</span></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>9:30 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">10</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">30</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><b><font face="Myriad Pro">I</font><font face="Myriad Pro">CME</font></b></p>
            <p style="margin-bottom: 0in">Bill Wilson</p>
            <p><i>Frederick Seitz Materials Research Lab.</i></p>
            <p><i>Materials</i><i> Science &amp; </i><i>Engineering</i></p>
            <p><font face="Linux Libertine O"><i>University of Illinois</i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>10:45 <span style="font-variant: small-caps">am</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">11</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">45</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">am</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><b>ICME</b></font></p>
            <p style="margin-bottom: 0in">Martin Ostoja-Starzewski</p>
            <p><i>Mechanical Science &amp; </i><i>Engineering</i></p>
            <p><font face="Linux Libertine O"><i><span style="font-weight: normal">University
            of Illinois</span></i></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>12:00 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">1</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">pm</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p><br>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>1:00 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">2</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">pm</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p><font face="Myriad Pro"><span style="font-style: normal"><b>Lunch</b></span></font></p>
            <p><br>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%" valign="top" style="border: none; padding: 0in">
            <p style="font-variant: small-caps"><font face="Myriad Pro"><b>multiphysics</b></font></p>
        </td>
    </tr>
    <tr valign="top">
        <td width="23%" style="border: none; padding: 0in">
            <p>2:00 <span style="font-variant: small-caps">p</span><span style="font-variant: small-caps">m</span></p>
            <p><font face="Myriad Pro"><font face="Linux Libertine O"><span style="font-weight: normal">    –</span></font><font face="Linux Libertine O"><span style="font-weight: normal">5</span></font><font face="Linux Libertine O"><span style="font-weight: normal">:</span></font><font face="Linux Libertine O"><span style="font-weight: normal">00</span></font><font face="Linux Libertine O"><span style="font-weight: normal">
            </span></font><span style="font-variant: small-caps"><font face="Linux Libertine O"><span style="font-weight: normal">pm</span></font></span></font></p>
        </td>
        <td width="77%" style="border: none; padding: 0in">
            <p style="margin-bottom: 0in"><font face="Myriad Pro"><span style="font-weight: normal">Materials
            Design with </span></font><font face="Myriad Pro"><b>COMSOL</b></font><font face="Myriad Pro"><b>
            </b></font><font face="Myriad Pro"><b>  </b></font><font face="Myriad Pro"><b>Multiphysics</b></font><font face="Myriad Pro"><span style="font-weight: normal">
            (Public Session)</span></font></p>
            <p>Mian Qin</p>
            <p><font face="Linux Libertine O"><i><span style="font-weight: normal">COMSOL,
            Inc.</span></i></font></p>
        </td>
    </tr>
</table>

