<p>
  This workshop will include several hands-on sessions.  You can install the software
  listed here directly on your machine or a virtual machine image will also be made
  available for download.  The virtual machine image can be loaded using
  <a href="https://www.virtualbox.org/">VirtualBox</a> or a compatible virtualization program.
  Please download and test it prior to the start of the workshop.
</p>

<h3><strong>Software</strong> Packages</h3>
<div class="span4">
  <h4><strong>Virtual Machine</strong></h4>
  <p>
    Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
    <strong>Warning:</strong> this file is quite large,
    so please download it <em>prior</em> to the workshop.
  </p>
  <p>
    The image will be made available as soon as all data for exercises have been gathered.
  </p>
  <h4><strong>LAMMPS</strong> Molecular Dynamics</h4>
  <p>
    <a href="http://lammps.sandia.gov/">LAMMPS</a> is a classical molecular dynamics code
    which is highly scalable and integrable with other programs such as
    <a href="http://www.quantum-espresso.org/">Quantum Espresso</a>.
  </p>
  <p>
    LAMMPS executables are available for major platforms.
  </p>
  <h4><strong>QWalk</strong> Quantum Monte Carlo</h4>
  <p>
    <a href="https://code.google.com/p/qwalk/">QWalk</a> is a program developed to perform
    high-accuracy quantum Monte Carlo calculations of electronic structure in molecules
    and solids.
  </p>
  <h4><strong>OVITO</strong> Open Visualization Toolkit</h4>
  <p>
    <a href="http://www.ovito.org/">OVITO</a> is a scientific visualization and analysis
    software for atomistic simulation data, available for all major platforms.
  </p>
</div>

<div class="span4">
  <h4><strong>VMD</strong> Visual Molecular Dynamics</h4>
  <p>
    <a href="https://www-s.ks.uiuc.edu/Research/vmd/">VMD</a> is a molecular visualization
    program for displaying, animating, and analyzing large biomolecular systems using 3D
    graphics and built-in scripting.
  </p>
  
  <h4><strong>MATLAB</strong></h4>
  <p>
    <a href="http://www.mathworks.com/products/matlab/">MATLAB</a> is a high-
    level language and interactive environment for numerical computation,
    visualization, and programming.
  </p>
  <p>
    We will use MATLAB for scripting.  As the University has already purchased a
    <a href="https://webstore.illinois.edu/Shop/product.aspx?zpid=1271">sitewide MATLAB
    license</a>, we will use MATLAB 8.3 R2014a.
  </p>
  <h4><strong>COMSOL</strong> Multiphysics</h4>
  <p>
    <a href="http://www.comsol.com/comsol-multiphysics">COMSOL</a> is a general-purpose
    software platform, based on advanced numerical methods, for modeling and simulating
    physics-based problems.
  </p>
  <p>
    COMSOL will provide a temporary license and installation files for the latest version
    at the COMSOL workshop Friday afternoon.
  </p>
